@media screen and (max-width: 900px) {
    .up {
      display: none;
    }
    .imatge1{
        position: absolute;
        top: 100px;
        width: 100vw;
        height: 300px;
        left: 0px;
    }
    .logo{
        background-color: rgb(5, 5, 10);
        position: fixed ;

        left:0px;
        width: 70px;

        z-index: 99;
     }
     nav{
        color: white;
        font-weight: bold;
        position: fixed ;
        background-color:  rgb(5, 5, 10);
        top: 10px;
        width: 100vw;
        font-size: 15px;



     }
     li{
        display: inline;
        padding: 10px;
        
     }
     .dropbtn {
        background-color: rgb(5, 5, 10);
        color: white;
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
        border: none;
        font-weight: bold;
        cursor: pointer;
      }
      #myDropdown{
        left: 0px;

    }
    body{
        font-size: 15px;
    }
    .infor{
        left: -260px;
    }


    h1{
        font-size: 25px;
        left: -45px;
    }
    
    main{
  
        position: absolute;
        margin-left: 5%;
        margin-right: 5%;
        background-color: rgb(8, 8, 17);
        color: white;
        position: relative;
        top: 450px;
        padding-top: 20px;
        z-index: 9;
        padding-bottom: 145px;

        }

    main a{

        position: relative;
        top: 20px;
        margin-left:40%; 
        

    }

    .bici, .negre{
        display: none;
    }


    .main2{
        padding-bottom:1200px;
        top:-3700px;
        position: relative;
        margin-left: 5%;
        margin-right: 5%;
        z-index: 8; 
        background-color:  rgb(8, 8, 17);
        padding-top: 0px;
        color: white;


    }

    
    .contacte p{

        position: relative;
        margin-left: 0%;
        margin-bottom: 2%;
    }
    .contacte h2{
    
        margin-left: 35%;
        margin-bottom: 1%;
    
    }
    .trailers{

        margin-bottom:40px; 
        padding-top: 90px;

        position: relative;
        top: -3750px;
        margin-left: 5%;
        margin-right: 5%;
        z-index: 9; 
        background-color:  rgb(8, 8, 17);
        color: white;
    }


    .trailers h1, .trailers h2{
        font-size: 25px;
    }
    .trailers h2{
        left: -75px;
    }
}